*{
    margin: 0px auto;
}

body {
    font-family: 'Montserrat';
    /* font-family: 'FontAwesome'; */
    max-width: 100%;
  }


/*-----Main Navigation-------*/
#header .navbar{
  background-color: #ffffff;
  /* opacity: .8; */
}
/* #header .navbar:hover{
  background-color: #fffaf6;
} */
#header .navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

#header .navbar-brand{
  margin-left: 5px;
  /* margin-right: 0px; */
}

#header .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #f26667;
}

#header .navbar-light .navbar-nav .nav-link {
  color: #464646;
}

#header .navbar-toggler {
  background: #f26667;
}

#header .navbar-nav {
  text-align: center;
}

#header .nav-link {
  padding: .2rem 1rem;
}

#header .nav-link.active,.nav-link:focus{
  color: #f26667;
}



#header .icons{
  width: 25%;
    padding: 0px;
  /* margin: 5px; */
}

#header .icons img, a{
  padding: 0px;
}

#header .nav-link .icon-btn{
  height: 25px;
}

#header .navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

#header .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #f26667;
}

/* #header .shopping-icons .icon-btn{
  color:none;
} */

/*-----Main Navigation-------*/


/*-----Carousel-------*/
#header .carousel-item {
  /* height: 100vh; */
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#header .carousel-caption {
  bottom: 40%;
  background-color: rgb(255, 255, 255, 0.4) ;
  width: max-content;
  padding: 0px 30px;
  border-radius: 10px;
}

#header .carousel-control-prev, .carousel-control-next{
  top: 0px;
  width: 15%;
  align-items: center;
  color:#464646;
}

#header .carousel-caption .heading {
  font-size: 45px;
  color: #464646;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* margin-top: 25px; */
}

#header .carousel-caption .pink-heading {
  width: 75%;
  margin: auto;
  font-size: 24px;
  line-height: 1.9;
}

@media only screen and (max-width: 850px)  and (min-width:350px){

  #header .fixed-top {
    position: relative;
}

/* #header .carouselExampleIndicators{
 position: absolute;
} */

  #header .carousel-caption {
    width: 70%;
    height: min-content;
    padding: 0px;
    top: 30%;
    }
    #header .carousel-caption .heading {
    font-size: 22px;
    color: #464646;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    }
    #header .carousel-caption .pink-heading {
      width: 75%;
      margin: auto;
      font-size: 20px;
      line-height: 1.9;
    }
    #header .carousel-control-prev, .carousel-control-next{
      top: 0px;
      width: 15%;
      align-items: center;
      color:#464646;
    }

}
/*-----Carousel-------*/



/*-----Sections Heading-------*/

  .heading {
    text-align: center;
    color: #464646;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 40px;
    text-transform: uppercase;
    z-index: 999;
  }

  .heading:after {
    content: " ";
    position: absolute;
    top: 90%;
    left: 50%;
    height: 40px;
    width: 180px;
    transform: translateX(-50%);
    background: url(images/line.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .pink-heading {
    color: #f26667;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    text-transform: none;
  }

  /*-----Product-------*/
#direction-sect{
  background-color: #fff8f3 ;
  padding-top: 50px;
  padding-bottom: 50px;
}



#direction-sect img {
  width: 100%;
  height: auto;
  transition: 0.5s;
}
#direction-sect .container {
  Overflow: hidden;
  margin-top: 50px;
  
}
#direction-sect .cards-wrap {
  align-items: center;
  justify-content: space-evenly;
}
#direction-sect .product-bottom .fa {
  color: #f46967;
  font-size: 10px;
  border-radius: 100px;
  /* height: 40%; */
}
#direction-sect h6 {
  color: #f46967;
}


#direction-sect a{
  text-decoration: none;
  color: #464646;
  text-align: center;
}

#direction-sect a:hover{
  color: #f46967;
}

#direction-sect a:hover{
  color: #f46967;
}
#direction-sect .card-body {
/*   height: 470px; */
  width: 400px;
  margin: 20px;
  padding: 5px 5px 20px 5px !important;
  transition: 0.2s ease-in;
  border: 2px solid #e6e5e5;
  box-shadow: 4px 4px 0px #e6e5e57a;
  background-color: #fffdfc;
}

#direction-sect .card-body:hover {
  border: 2px solid #ef5777;
  transition: 0.2s ease-in;
}

#direction-sect .card-body:hover img {
  filter: brightness(75%);
  transition: 0.2s ease-in;
}
#direction-sect .card-body:hover .card-icons {
  display: block;
}
#direction-sect .card-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 50%; */
}
#direction-sect .card-icons {
  position: absolute;
  z-index: 2;
  display: none;
  /* color:  */
}

#direction-sect .card-icons-item {
  background-color: #fffdfc !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 5px 9px !important;
  margin: 3px !important;
  color: #6f6e6e;
  transition: 0.2s;
}

#direction-sect .card-icons-item:hover {
  background-color: #ef5777 !important;
  color: #fffdfc !important;
}

#direction-sect .price{
  color:#f5919d;
  font-size:14px;
  font-weight:700;
  /* letter-spacing:.6px; */
  margin-bottom:8px;
  text-align:center;
  transition:all .3s;
}

#direction-sect .card-icons-item a:hover{
  color: #ffffff;
}
#direction-sect button{
  border: 2px solid #f26667 !important;
}

#direction-sect #shopnow-btn{
  color: #f26667;
  text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    width: 45%;
    padding: 6px 10px;
    margin: 0 auto;
    border: 2px solid #f26667 !important;
    background-color: transparent;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.2s;
}
#direction-sect #shopnow-btn:hover,
#direction-sect #shopnow-btn:focus{
  color: #fff;
  background: #f26667;
  border: 2px solid #f26667 !important;
}

/* #direction-sect #shopnow-btn:active{
    color:  #f26667;
    border: 2px solid #f26667;
    background-color: transparent;
} */

#direction-sect .card-heading {
  font-size: 18px !important;
  font-weight: bold;
}
#direction-sect .card-details {
  font-size: 14px !important;
}
#direction-sect .card-price {
  font-size: 13px !important;
}
#direction-sect .rating {
  color:#f26667;
  padding: 0 16px !important;
  list-style:none;
    position:relative;
}

#direction-sect .rating li.disable{
  color:rgba(0,0,0,.2);
}

/* @media only screen and (min-width: 576px){
  #direction-sect .card-body {
    margin: 0px 20px;
    margin-bottom: 30px;
    height: auto ;
  }
}
 */

@media only screen and (min-width: 770px) and (min-width:350px){
  #direction-sect .card-body {
    margin: 0px 20px;
    margin-bottom: 30px;
    height: auto ;
  }
}


/*-----Foundation Product Section-------*/
#foundation{
  /* text-align: left; */
 display: flex;
 flex-wrap: wrap;
 
}
#foundation .foundation{
  display: flex;
  flex-wrap: wrap;
  overflow: left;
  align-items: center;
  padding: 30px 20px;
  /* padding: 30px 20px; */
}
/* .foundation-img{
  width: 50%;
  padding: 30px 0px;
} */

#foundation .foundation-img img{
  width: 90%
}

#foundation .foundation-content{
  width: 50%;
  height: max-content;
  padding: 80px 10px;
  /* align-content: center;
  justify-content: center; */
  /* padding: 70px 20px 5px 10px; */
  /* height: fit-content; */
}

#foundation .foundation-details{
  margin: 0;
  width:85%;
  /* padding-top: 40px; */
}

#foundation .foundation .heading {
  font-size: 40px;
    font-weight: 700;
  text-align: left;
}

#foundation .foundation .heading:after {
    left: 10%;
    /* top: 90%;
    height: 40px;
    width: 180px; */
    /* transform: translateX(-15%); */
}

#foundation .foundation .pink-heading {
  font-size: 28px;
    font-weight: 600;
  text-align: left;
}

#foundation .foundation p{
  text-transform: none;
  color: #666666;
    text-align: left;
    font-size: 16px;

    font-weight: 400;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
#foundation .product-page-btn{
  width: max-content;
text-align: center;
    margin: 0;
  }

  #foundation .product-page a{
    color: #f26667;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 6px 10px;
    border: 2px solid #f26667;
    border-radius: 4px;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
}

#foundation .product-page a:hover{
  color: #fff;
  text-decoration: none;
  background: #f26667;
  border-color: #f26667;
}

@media only screen and (max-width: 850px) and (min-width:350px){
  /* #foundation .foundation .heading .pink-heading .heading:after p{
    text-align:center;
  } */
  #foundation .foundation{
    padding: 0px;
  }

  #foundation .foundation-img {
    display: none;
  }
}

/*-----Testimonial-------*/

 #testimonial {
    min-height: 375px;
    background: url(images/testimonial-bg.png);
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
  }
 
  #testimonial #testimonial1{
    width: 80%;
  }

  #testimonial #testimonial1 .carousel-inner:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  #testimonial #testimonial1 .carousel-inner:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  #testimonial #testimonial1 .carousel-inner .item {
    padding: 0px 10px;
    overflow: hidden;
  }

  #testimonial .testimonial1_slide {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    padding: 10px;
    position: relative;
    text-align: center;
  }

  #testimonial .testimonial1_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    border: 4px solid #f26667;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.23);
  }

  #testimonial .testimonial1_slide p {
    color: #666666;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin: 40px 0 20px 0;
  }
  #testimonial .testimonial1_slide h4 {
    font-weight: 700;
    color: #464646;
    font-size: 20px;
  }

  #testimonial .testimonial1_slide h5 {
    font-weight: 600;
    font-size: 14px;
    color: #f26667;
  }

  
/*-----Carousel Control-------*/

/* .carousel-control {
  font-weight: 800;
  font-size: 18px;
} */

#testimonial .carousel-inner a {
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
  }
  
  #testimonial .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 70px;
    /* bottom: 0px; */
    align-items: start;
    display: flex;
    width: 35%;
    opacity: .5;
  }

  #testimonial .previous, .next {
    background-color: hsl(0, 0%, 100%);
    color: black;
  }
  #testimonial .previous:hover, .next:hover{
    background-color: #f26667;
    color: white;
  }
  
  #testimonial .round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
 /* Product Detail Page CSS */
#product-detail-page .has-text-muted {
  color: #95A5A6;
}
#product-detail-page .fa {
  font-size:10px;
  padding-top:3px;
  color: #95A5A6;
}
#product-detail-page .panel-block-item {
  display: inline-block;
  color: #95A5A6;
  font-weight: bold;
  padding: 0 10px;
}
#product-detail-page .cart-icon {
  padding-top:10px;
}
#product-detail-page .product-header {
  background-color:#fafafa;
}


/* Footer */
/* footer style */
#footer {
  padding: 30px 0;
  background: #1d1d1d !important;
  display: grid;
}

/* #footer .section-title {
	text-align: center;
	/* color: #007b5e; */
	/* margin-bottom: 50px; */
	/* text-transform: uppercase;
} */ 

/* #footer #footer-sect{
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
} */

/* #footer .footer-logo{ */
  /* width: 75%; */
  /* width: fit-content; */
  /* text-align: left;
  display: grid;
} */

#footer .footer-logo{
  max-width: 180px;
}

#footer .footer-logo .footer-logo-white{ 
 /* width: fit-content; */
 max-width: 150px;
  text-align: left;
}

#footer p{
  color: white;
  /* font-size: 14px; */
}

#footer h5 {
	padding-left: 10px;
	border-left: 3px solid #eeeeee;
	padding-bottom: 6px;
	margin-bottom: 20px;
	color: #f9c0cb;
}

#footer a {
	color: #ffffff;
	text-decoration: none !important;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

#footer .footer-icons{
  margin-top: 0px;
}

#footer ul.social li {
	padding: 3px 0;
}

#footer ul.social li a i {
	margin-right: 5px;
	font-size: 25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.social li:hover a i {
	font-size: 30px;
  margin-top: -10px;
  color: #f9c0cb;
}

#footer ul.social li a, #footer ul.quick-links li a {
	color: #ffffff;
}

#footer ul.social li a:hover {
	color: #eeeeee;
}

#footer ul.quick-links li {
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.quick-links li:hover {
	padding: 3px 0;
	margin-left: 5px;
	font-weight: 700;
}

#footer ul.quick-links li a i {
	margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
	font-weight: 700;
}

@media only screen and (max-width: 576px) {
 
	#footer h5 {
    padding-left: 0;
    padding-left: 10px;
    border-left: none;
		border-left: transparent;
		padding-bottom: 0px;
    margin-bottom: 10px;
  }
}


/* _____________________________________________________________ */


/* Products */

#product-desc .pd-wrap {
	padding: 40px 0;
}
#product-desc .heading-section {
	text-align: center;
	margin-bottom: 20px;
}
#product-desc .sub-heading {
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#product-desc .heading-section h2 {
	font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
}
#product-desc .user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
	min-width: 80px;
	background-size: 100%;
}
#product-desc .carousel-testimonial .item {
	padding: 30px 10px;
}
#product-desc .quote {
	position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
#product-desc .name {
	margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
#product-desc .position {
	color: #adadad;
	font-size: 14px;
}
#product-desc .owl-nav button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	outline: none;
	height: 25px;
}
#product-desc .owl-nav button svg {
	width: 25px;
	height: 25px;
}
#product-desc .owl-nav button.owl-prev {
	left: 25px;
}
#product-desc .owl-nav button.owl-next {
	right: 25px;
}
#product-desc .owl-nav button span {
	font-size: 45px;
}
#product-desc .product-thumb .item img {
	height: 100px;
}
#product-desc .product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
}
#product-desc .product-price-discount {
	font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}
#product-desc .product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
#product-desc .display-flex {
	display: flex;
}
#product-desc .align-center {
	align-items: center;
}
#product-desc .product-info {
	width: 100%;
}
#product-desc .reviews-counter {
    font-size: 13px;
}
#product-desc .reviews-counter span {
	vertical-align: -2px;
}
#product-desc .rate {
    float: left;
    padding: 0 10px 0 0;
}
#product-desc .rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
#product-desc .rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
	margin-bottom: 0;
	line-height: 21px;
}
#product-desc .rate:not(:checked) > label:before {
    content: '\2605';
}
#product-desc .rate > input:checked ~ label {
    color: #f26667;    
}
#product-desc .rate:not(:checked) > label:hover,
#product-desc .rate:not(:checked) > label:hover ~ label {
    color: #f9c0cd;  
}
#product-desc .rate > input:checked + label:hover,
#product-desc .rate > input:checked + label:hover ~ label,
#product-desc .rate > input:checked ~ label:hover,
#product-desc .rate > input:checked ~ label:hover ~ label,
#product-desc .rate > label:hover ~ input:checked ~ label {
    color: #f26667;
}
#product-desc .product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
#product-desc .product-dtl .form-control {
	font-size: 15px;
}
#product-desc .product-dtl label {
	line-height: 16px;
	font-size: 15px;
}
#product-desc .form-control:focus {
	outline: none;
	box-shadow: none;
}
#product-desc .product-count {
	margin-top: 15px; 
}
#product-desc .product-count .qtyminus,
#product-desc .product-count .qtyplus {
  margin: 0px 0px;
	width: 34px;
    height: 34px;
    background: #7e7e7e;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
#product-desc .product-count .qtyminus {
	border-radius: 3px 0 0 3px; 
}
#product-desc .product-count .qtyplus {
	border-radius: 0 3px 3px 0; 
}
#product-desc .product-count .qty {
  color:#7e7e7e;
	width: 60px;
	text-align: center;
}
#product-desc .round-btn {
	border-radius: 4px;
    background: #fff;
    color: #f26667;;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #f26667;; 
    transition: all 0.2s ease-in-out 0s;
}
#product-desc .round-btn:hover,
#product-desc .round-btn:focus {
	background: #f26667;;
	color: #fff;
	text-decoration: none;
}

#product-desc .product-info-tabs {
	margin-top: 25px; 
}
#product-desc .product-info-tabs .nav-tabs {
	border-bottom: 2px solid #d8d8d8;
}
#product-desc .product-info-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
}
#product-desc .product-info-tabs .nav-tabs .nav-link {
	border: none; 
	border-bottom: 2px solid transparent;
	color: #323232;
}
#product-desc .product-info-tabs .nav-tabs .nav-item .nav-link:hover {
	border: none; 
}
#product-desc .product-info-tabs .nav-tabs .nav-item.show .nav-link, 
#product-desc .product-info-tabs .nav-tabs .nav-link.active, 
#product-desc .product-info-tabs .nav-tabs .nav-link.active:hover {
	border: none; 
	border-bottom: 2px solid #d8d8d8;
	font-weight: bold;
}
#product-desc .product-info-tabs .tab-content .tab-pane {
	padding: 30px 20px;
	font-size: 15px;
	line-height: 24px;
	color: #7a7a7a;
}
#product-desc .review-form .form-group {
	clear: both;
}
#product-desc .mb-20 {
	margin-bottom: 20px;
}

#product-desc .review-form .rate {
	float: none;
	display: inline-block;
}
#product-desc .review-heading {
	font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}
#product-desc .review-form .form-control {
	font-size: 14px;
}
#product-desc .review-form input.form-control {
	height: 40px;
}
#product-desc .review-form textarea.form-control {
	resize: none;
}
#product-desc .review-form .round-black-btn {
	text-transform: uppercase;
	cursor: pointer;
}

#product-desc .product-info .heading {
  font-size: 32px;
    font-weight: 700;
  text-align: left;
}

#product-desc .product-info .heading:after {
    left: 10%;
    /* top: 90%;
    height: 40px;
    width: 180px; */
    /* transform: translateX(-15%); */
}

#product-desc .product-info .pink-heading {
  font-size: 20px;
    font-weight: 600;
  text-align: left;
}

/* Login/Sign Up */

#login-form input.form-control:focus ~ label {
  color: var(--main-color) !important;
}

/* #login-form .bg-main {
  background-color: var(--main-color);
}

#login-form a:hover {
  color: var(--main-color) !important;
} */

#login-form .bg-image {
  background-image: url("images/login-form.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
  width: 100%;
}

/* Makes the label go above the input so it can be styled*/
#login-form .form-group {
  display: flex;
  flex-direction: column-reverse;
}

#login-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Changes the inputs to be underlined */
#login-form input:not([type="submit"]) {
  outline: 0 !important;
  border-width: 0 0 1.5px !important;
  border-color: lightgrey !important;
  color: black;
}

#login-form .text-black,
#login-form .text-black:hover {
  color: black;
}



#login-form button {
  border: 2px solid #f46967 !important;
  border-radius: 6px;
  font-size: 11px !important;
  padding: 1px 13px !important;
  font-weight: bold;
  text-transform: uppercase;
  height: 50px;
  color: #f46967;
  font-size: 16px;
  background-color: #fffdfc !important;
  transition: 0.5s;
}
#login-form button:hover {
  background-color: #f46967 !important;
  color: #fffdfc;
  transition: 0.5s;
}

/* Makes Carsoul indicators round */
#login-form .carousel-indicators.round li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/* MAKES CAROUSEL SLIDE UP AND DOWN */

#login-form .vert .carousel-item-next.carousel-item-left,
#login-form .vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#login-form .vert .carousel-item-next,
#login-form .vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

#login-form .vert .carousel-item-prev,
#login-form .vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

@media only screen and (max-width: 576px) {
 
	#footer h5 {
    padding-left: 0;
    padding-left: 10px;
    border-left: none;
		border-left: transparent;
		padding-bottom: 0px;
    margin-bottom: 10px;
  }
}


/* About Page */

#about {
  background-color: #f7e4e7;
  color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 5vw;
}
#about-img {
  width: 50vh;
}
#about-page {
  margin: 0;
  padding: 0;
  font-size: 3vw;
}

/* Category Page */

#category-page .main-banner img{
  width: 100%;
}
